<!-- About Section Start-->
<div class="section fp-auto-height-responsive content-section about" data-anchor="about-us-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 flex-xl-row-reverse fullheight">

            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">
                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">História</span>
                        <span class="title">Sobre Nós</span>
                        <h2>Nossa história</h2>
                        <span class="divider"></span>
                        <p>"This is the stoy of a search for the beginning of time", ou em português, "esta é a história de uma busca pelo começo do tempo". Assim se inicia o filme que assistimos no nosso primeiro encontro. Compartilhando neste espaço um pouquinho sobre a gente...</p>
                        <a href="#" class="btn btn-line" id="notify-trigger">
                            <span>Quer saber a história completa? Então clique aqui para ler o restante.</span>
                        </a>
                    </div>
                    <!-- Section Title End -->

                </div>
            </div>
            <!-- About Section Info End -->

            <!-- Portfolio Section Media Start-->
            <div class="col-12 col-xl-6 p-0 content-section_media">

                <!-- Works Gallery Start -->
                <div class="gallery">
                    <div class="row m-0 my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                        <!-- Works Gallery Single Item Start -->


                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-11.jpg'| relative_url }}" data-image="/assets/img/photos/about-us-11.jpg" class="works-link" itemprop="contentUrl" data-size="4618x3464">
                                <img src="{{ '/assets/img/photos/about-us-11.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="O meu melhor lugar sempre é você" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>
                                    O meu melhor lugar sempre é você
                                    <small>Viana do Castelo, Portugal</small>
                                </h4>
                                <p>As conquistas têm um sabor diferente quando se está ao lado de quem se ama...</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-12.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-12.jpg" itemprop="contentUrl" data-size="919x689">
                                <img src="{{ '/assets/img/photos/about-us-12.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="Our love ain't water under the bridge" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>Our love ain't water under the bridge
                                    <small>Porto, Portugal</small>
                                </h4>
                                <p>A distância pode apagar um amor? Não o nosso... Depois de quase um ano longe, essa viagem nos reservava a confirmação do nosso relacionamento. Ficamos noivos à beira da tranquila Ribeira; aos pés da Ponte D. Luis.</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-21.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-21.jpg" itemprop="contentUrl" data-size="480x640">
                                <img src="{{ '/assets/img/photos/about-us-21.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="E eu subo bem alto pra gritar que é amor" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>
                                    E eu subo bem alto pra gritar que é amor
                                    <small>Sintra, Portugal</small>
                                </h4>
                                <p>Ponto elevado de uma charmosa cidade, já noivos. Muita felicidade!</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-22.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-22.jpg" itemprop="contentUrl" data-size="480x640">
                                <img src="{{ '/assets/img/photos/about-us-22.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="Estranho seria se eu não me apaixonasse por você" />
                                <div class="overlay"></div>
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>Estranho seria se eu não me apaixonasse por você
                                    <small>Maracanã, Rio de Janeiro</small>
                                </h4>
                                <p>Sintonia... E muito amor! Como no futebol, nem sempre experimentamos somente vitórias, mas a alegria das conquistas são inesquecíveis!</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->


                    </div>
                </div>
                <!-- Works Gallery End -->

            </div>
            <!-- Portfolio Section Media End-->

        </div>
    </div>
</div>
<!-- About Section End-->

