<!-- About Section Start-->
<div class="section fp-auto-height-responsive content-section about" data-anchor="about-us-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 flex-xl-row-reverse fullheight">

            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">
                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">História</span>
                        <span class="title">Sobre Nós</span>
                        <h2>Nossa história</h2>
                        <span class="divider"></span>
                        <p>Nossa história de amor é a prova de que o que Deus tem preparado para nós vai muito além do que pedimos ou pensamos e que Ele tem um tempo perfeito para cada coisa em nossas vidas.
                            Nós nos conhecemos em 2016...
                        </p>
                        <a href="#" class="btn btn-line" id="notify-trigger">
                            <span>Quer saber a história completa? Então clique aqui para ler o restante.</span>
                        </a>
                    </div>
                    <!-- Section Title End -->

                </div>
            </div>
            <!-- About Section Info End -->

            <!-- Portfolio Section Media Start-->
            <div class="col-12 col-xl-6 p-0 content-section_media">

                <!-- Works Gallery Start -->
                <div class="gallery">
                    <div class="row m-0 my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

                        <!-- Works Gallery Single Item Start -->


                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-11.jpg'| relative_url }}" data-image="/assets/img/photos/about-us-11.jpg" class="works-link" itemprop="contentUrl" data-size="1600x1066">
                                <img src="{{ '/assets/img/photos/about-us-11.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="O meu melhor lugar sempre é você" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>
                                    Me diz onde esse mundo tinha te escondido
                                    <small>Isabelle <i class="ion-heart"></i> Pedro </small>
                                </h4>
                                <p>Te procurei até que me achei perdido<br/> Agora finalmente tudo faz sentido <br/>Te encontrei, até que enfim.</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-12.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-12.jpg" itemprop="contentUrl" data-size="1064x1600">
                                <img src="{{ '/assets/img/photos/about-us-12.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="Our love ain't water under the bridge" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>Antes de te encontrar o mundo não tinha cor
                                    <small>Isabelle <i class="ion-heart"></i> Pedro </small>
                                </h4>
                                <p>
                                    Quero te dizer teu amor mudou a minha vida <br/>
                                    Amo você de mais</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-21.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-21.jpg" itemprop="contentUrl" data-size="1068x1600">
                                <img src="{{ '/assets/img/photos/about-us-21.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="E eu subo bem alto pra gritar que é amor" />
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>
                                    E, acima de tudo, tenham amor.
                                    <small>Isabelle <i class="ion-heart"></i> Pedro </small>
                                </h4>
                                <p>Pois o amor une perfeitamente todas as coisas.</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->

                        <!-- Works Gallery Single Item Start -->
                        <figure class="col-12 col-md-6 p-0" itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                            <a href="{{ '/assets/img/photos/about-us-22.jpg'| relative_url }}" class="works-link" data-image="/assets/img/photos/about-us-22.jpg" itemprop="contentUrl" data-size="1066x1600">
                                <img src="{{ '/assets/img/photos/about-us-22.jpg'| relative_url }}" class="works-image" itemprop="thumbnail" alt="Estranho seria se eu não me apaixonasse por você" />
                                <div class="overlay"></div>
                            </a>
                            <figcaption class="works-description" itemprop="caption description">
                                <h4>Quem ama nunca desiste
                                    <small>Isabelle <i class="ion-heart"></i> Pedro </small>
                                </h4>
                                <p>Quem ama nunca desiste, porém suporta tudo com fé, esperança e paciência. (1Coríntios 13:7)</p>
                            </figcaption>
                        </figure>
                        <!-- Works Gallery Single Item End -->


                    </div>
                </div>
                <!-- Works Gallery End -->

            </div>
            <!-- Portfolio Section Media End-->

        </div>
    </div>
</div>
<!-- About Section End-->

