<!-- Home Section Start-->
<div class="section fp-auto-height-responsive home" data-anchor="countdown-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 fullheight">

            <!-- Main Section Intro Start -->
            <div class="col-12 col-xl-6 fullheight home_intro box">
                <!-- Menu Button Start -->
                <div class="menu-button">
                    <a href="#" id="menu-trigger" class="menu-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <!-- Menu Button Start -->

                <!-- Logo Start-->

                <!-- Logo End-->

                <!-- Main Headline Start -->
                <div class="headline">
                    <h1>
                        Isabelle<br>
                        <span style="margin-left: 14%;">& </span><br>
                        <span style="margin-left: 20%;">Pedro</span>
                    </h1>
                    <p>Estamos imensamente gratos por poder vivenciar a realização do nosso sonho ao lado de nossos familiares e amigos, que amamos muito.
                        Nesse site será possível acompanhar quanto tempo falta para o dia que tanto estamos esperando. Iremos celebrar e oficializar a aliança do nosso amor. Para quem acompanhou a história de perto, sabe que este momento é mais esperado do que o final feliz de um filme, porque é real, porque é lindo, e porque não há nada mais inspirador do que ver os sonhos se transformando em realidade.</p>
                    <a href="#we-are-waiting-for-you-page" class="btn btn-line">
                        <span>Clique aqui para confirmar a sua presença</span>
                    </a>

                </div>
                <!-- Main Headline End -->

                <!-- Socials Start -->

                <!-- Socials End -->

            </div>
            <!-- Main Section Intro End -->

            <!-- Main Section Media Start -->
            <div class="col-12 col-xl-6 p-0 fullheight home_media" style="background-image:url(/assets/img/photos/countdown.jpg);">

                <!-- Background Effect Start -->
                <!-- Background Effect End -->

                <!-- Color Layer Start -->
                <div class="layer-black"></div>
                <!-- Color Layer End -->

                <!-- Countdown Start-->
                <div class="countdown countdown-full">
                    <span class="help-text">Contagem regressiva...</span>
                    <div id="countdown-large"></div>
                </div>
                <!-- Countdown End-->

            </div>
            <!-- Main Section Media End -->

        </div>
    </div>
</div>
<!-- Home Section End-->