<!-- Home Section Start-->
<div class="section fp-auto-height-responsive home" data-anchor="facebook-comments-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 fullheight">

            <!-- Main Section Intro Start -->
            <div class="col-12 fullheight home_intro" style="background-image:url(/assets/img/photos/comments.jpg);">

                <div class="layer-black"></div>

                <!-- Main Headline Start -->
                <div class="headline">
                    <h1 class="light-text">Mural de<br>mensagens</h1>
                    <p class="light-text">Deixe aqui uma mensagem para os noivos.</p>
                    <a href="#" class="btn btn-line btn-line-light" id="writealine-trigger">
                        <span>Clique aqui para deixar a sua mensagem.</span>
                    </a>
                </div>
                <!-- Main Headline End -->
            </div>
            <!-- Main Section Intro End -->

        </div>
    </div>
</div>
<!-- Home Section End-->