<!-- About Section Start-->
<div class="section fp-auto-height-responsive content-section about" data-anchor="gift-list-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 fullheight">


            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">


                <!-- Features Block Start -->
                <div class="features fullheight">

                    <div class="row m-0">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <h3>É uma honra receber o seu carinho em forma de presente</h3>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(/assets/img/photos/gift1.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                    <div class="row m-0 flex-md-row-reverse">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <p>Se você não puder ou  não quiser nos presentear, não  fique  constrangido! Um abraço carinhoso e um sorriso largo serão tão especiais quanto um destes presentes.</p>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(/assets/img/photos/gift2.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                </div>
                <!-- Features Block End-->

            </div>
            <!-- About Section Info End -->

            <!-- Features Section Info Start -->
            <div class="col-12 col-xl-6 p-0 fullheight content-section_info">

                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Lista</span>
                        <span class="title">Presentes</span>
                        <h2>Lista de presentes</h2>
                        <span class="divider"></span>

                        <!-- Contact Form Container Start -->
                        <div class="form-content gift">

                            <!-- Reply Group Start-->

                            <div class="feature-item_description">
                                <p>Este é um espaço para os amigos que desejam nos presentear... </p>
                            </div>
                            <!-- Reply Group End -->

                            <!-- Contact Form Start -->
                            <form class="gift-form" id="contact-form2" action="https://www.mercadopago.com/mlb/checkout/start" target="_blank">

                                <fieldset class="gift-group gift">
                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-a8ed1329-d5cc-4565-8c2b-b361829c5538" checked> <span>Cafezinho no aeroporto</span>
                                    <pre>valor de 30 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-08512f5e-1635-4e84-8c37-092c4ba50c78"> <span>Café da manhã em Barcelona</span>
                                    <pre>valor de 50 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-4bb5ba2a-7c7c-4742-bfa3-c44882f8cc52"> <span>Tour pelo estádio do Barcelona</span>
                                    <pre>valor de 70 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-34520ecf-1fc7-406b-b8a1-6a0adba817db"> <span>Almoço com Paella</span>
                                    <pre>valor de 100 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-ed912be9-04da-40be-86a8-ddc4a99dc6a2"> <span>Visita ao Coliseu</span>
                                    <pre>valor de 250 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="5689369-8249c50a-6a6c-4816-8cf1-f7b8678d4e9a"> <span>Hospedagem em Madrid</span>
                                    <pre>valor de 500 reais</pre><br>

                                </fieldset>
                                <button class="btn btn-line gift">
                                    Clique aqui para presentear
                                </button>


                            </form>
                            <!-- Contact Form End -->

                        </div>
                        <!-- Contact Form Container End -->

                    </div>
                    <!-- Section Title End -->

                </div>

            </div>
            <!-- Features Section Info End -->

        </div>
    </div>
</div>
<!-- About Section End-->