<!-- About Section Start-->
<div class="section fp-auto-height-responsive content-section about" data-anchor="gift-list-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 fullheight">


            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">


                <!-- Features Block Start -->
                <div class="features fullheight">

                    <div class="row m-0">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <h3>É uma honra receber o seu carinho em forma de presente</h3>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(/assets/img/photos/gift1.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                    <div class="row m-0 flex-md-row-reverse">

                        <!-- Features Single Item Start -->
                        <div class="col-12 col-md-6 feature-item">
                            <div class="feature-item_description">
                                <p>Se você não puder ou  não quiser nos presentear, não  fique  constrangido! Um abraço carinhoso e um sorriso largo serão tão especiais quanto um destes presentes.</p>
                            </div>
                        </div>
                        <!-- Features Single Item End -->

                        <!-- Feature Image Start -->
                        <div class="col-12 col-md-6 p-0 feature-image" style="background-image:url(/assets/img/photos/gift2.jpg);"></div>
                        <!-- Feature Image End -->

                    </div>

                </div>
                <!-- Features Block End-->

            </div>
            <!-- About Section Info End -->

            <!-- Features Section Info Start -->
            <div class="col-12 col-xl-6 p-0 fullheight content-section_info">

                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Lista</span>
                        <span class="title">Presentes</span>
                        <h2>Lista de presentes</h2>
                        <span class="divider"></span>

                        <!-- Contact Form Container Start -->
                        <div class="form-content gift">

                            <!-- Reply Group Start-->

                            <div class="feature-item_description">
                                <p>Este é um espaço para os amigos que desejam nos presentear... </p>
                            </div>
                            <!-- Reply Group End -->

                            <!-- Contact Form Start -->
                            <form class="gift-form" id="contact-form2" action="https://www.mercadopago.com/mlb/checkout/start" target="_blank">

                                <fieldset class="gift-group gift">
                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-6511fb96-5e39-40d6-a02d-facbe858df92" checked> <span>Manteigueira para o cafezinho</span>
                                    <pre>valor de 50 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-5f96ea59-8d15-4808-bde8-05f421decaea"> <span>Liquidificador de todas as horas</span>
                                    <pre>valor de 100 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-39ee390c-ba32-4a4e-85c5-8354dd5b069a"> <span>Roupa de cama para o quarto</span>
                                    <pre>valor de 200 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-0b6f0344-8b83-4103-9453-344da9eb053c"> <span>Panelas do almoço de domingo</span>
                                    <pre>valor de 350 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-223e55b1-1ed1-4843-8a57-7a544c61dcaf"> <span>Microondas para as pipocas</span>
                                    <pre>valor de 500 reais</pre><br>

                                    <input type="radio" class="form-radio" name="pref_id" value="199351570-61a5b842-bd86-463f-9da3-b2f29a35beda"> <span>TV para nossa séries favoritas</span>
                                    <pre>valor de 1000 reais</pre><br>
                                </fieldset>
                                <button class="btn btn-line gift">
                                    Clique aqui para presentear
                                </button>


                            </form>
                            <!-- Contact Form End -->

                        </div>
                        <!-- Contact Form Container End -->

                    </div>
                    <!-- Section Title End -->

                </div>

            </div>
            <!-- Features Section Info End -->

        </div>
    </div>
</div>
<!-- About Section End-->