<!-- Loader Start-->
<div class="loader">
    <div class="loader-content">
        <div class="loader-logo slideInDown">
            <!-- Your Logo Here -->
            <img src="{{ '/assets/img/logo/m-logo-loader-white.png'| relative_url }}" alt="Isabele & Pedro">
        </div>
        <div class="loader-caption slideInUp">
            <p class="loading-text">Carregando...</p>
            <span class="loading-dots">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
          </span>
        </div>
    </div>
</div>
<!-- Loader End-->