<!-- Contact Section Start-->
<div class="section fp-auto-height-responsive content-section contact" data-anchor="location-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 fullheight">

            <!-- Contact Section Info Start-->
            <div class="col-12 col-xl-6 p-0 content-section_info">
                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Aonde?</span>
                        <span class="title">Localização</span>
                        <h2>Local da<br>cerimônia</h2>
                        <span class="divider"></span>
                        <p class="contact-text">A cerimômia será no lindo espaço do Bambu Lounge. O salão fica na Rua Josué de Barros, 48- Campo Grande, Rio de Janeiro - RJ. Para mais informações sobre o espaço, ligue para
                            <a href="tel:+5521985205541">21 9 85205541</a>.
                        </p>
                    </div>
                    <!-- Section Title End -->

                </div>
            </div>
            <!-- Contact Section Info End-->

            <!-- Contact Section Media Start-->
            <div class="col-12 col-xl-6 p-0 content-section_media">

                <!-- Google Map Start -->
                <div class="map">
                    <div id="google-map">
                        <div id="google-container"></div>
                        <div id="zoom-in">
                            <span class="icon ion-plus"></span>
                        </div>
                        <div id="zoom-out">
                            <span class="icon ion-minus"></span>
                        </div>
                    </div>
                </div>
                <!-- Google Map End -->

            </div>
            <!-- Contact Section Media End-->

        </div>
    </div>
</div>
<!-- Contact Section End-->