<!-- Navigation Start-->
<nav>

    <!-- Menu Close Button Start -->
    <a href="#" id="menu-close" class="menu-close">
        <i class="icon ion-ios-close-empty"></i>
    </a>
    <!-- Menu Close Button End -->

    <!-- Main Menu Start-->
    <ul class="menu" id="menu">
        <li data-menuanchor="about-us-page">
            <a href="#about-us-page">Sobre nós
                <span>Esta é a história de uma busca pelo começo do tempo</span>
            </a>
        </li>
        <li data-menuanchor="we-wait-for-you-page">
            <a href="#we-are-waiting-for-you-page">Esperamos por você
                <span>Confirme a sua presença</span>
            </a>
        </li>
        <li data-menuanchor="gift-list-page">
            <a href="#gift-list-page">Lista de presentes
                <span>O mais valioso é a sua presença</span>
            </a>
        </li>
        <li data-menuanchor="location-page">
            <a href="#location-page">Local da cerimônia
                <span>Espaço Jardim Magarça</span>
            </a>
        </li>
        <li data-menuanchor="facebook-comments-page">
            <a href="#facebook-comments-page">Mural de mensagens
                <span>Deixe uma mensagem para os noivos</span>
            </a>
        </li>
    </ul>
    <!-- Main Menu End-->

</nav>
<!-- Navigation End-->