<!-- Write-a-Line Popup Start -->
<div class="popup writealine" >
    <div class="popup-content" style="background-image:url(/assets/img/backgrounds/bg-popup.jpg);max-width: 1000px;">

        <!-- Close Button Start -->
        <a class="popup-close" href="#0" id="writealine-close">
            <span class="icon ion-ios-close-empty"></span>
        </a>
        <!-- Close Button End -->

        <div class="popup-background">

            <!-- Write-a-Line Title Start -->
            <div class="popup-title">
                <p class="title">Mural de mensagens</p>
                <p class="subtitle">Deixe a sua mensagem para os noivos.</p>
            </div>
            <!-- Write-a-Line Title End -->

            <div class="fb_container" id="fb-container-id">
                <!-- Facebook Comments Start -->
                <div id="fb-root"></div>
                <div class="fb-comments" data-href="https://www.isabelleepedro.space/" data-width="100%" data-numposts="5" data-order-by="reverse_time" id="iframe-facebook-comments-id"></div>
                <!-- Facebook Comments End -->
            </div>
        </div>

    </div>
</div>