<!-- Notify Me Popup Start -->
<div class="popup notify" >
    <div class="popup-content" style="background-image:url(/assets/img/backgrounds/bg-popup.jpg);max-width: 1000px;">

        <!-- Close Button Start -->
        <a class="popup-close" href="#0" id="notify-close">
            <span class="icon ion-ios-close-empty"></span>
        </a>
        <!-- Close Button End -->

        <div class="popup-background">
            <!-- Notify Title Start -->
            <div class="popup-title popup-about-us">
                <p class="title">Nossa história</p>
                <blockquote>Mas, como está escrito: Nem olhos viram, nem ouvidos ouviram, nem jamais penetrou em coração humano o que Deus tem preparado para aqueles que o amam.</blockquote>
                <blockquote class="source">1Coríntios 2:9</blockquote>
                <br/>
                <p class="subtitle">Nossa história de amor é a prova de que o que Deus tem preparado para nós vai muito além do que pedimos ou pensamos e que Ele tem um tempo perfeito para cada coisa em nossas vidas. Nós nos conhecemos em 2016 no cursinho que fazíamos e nunca imaginaríamos que 3 anos depois, em 2019, nos reencontraríamos e nunca mais conseguiríamos ficar longe um do outro. Desde o dia 29/12/2019 o amor que temos só cresce! Então, Nosso Deus vem nos sustentando, nos dando sabedoria, companheirismo e muito amor. No dia 16/12/2021 o nosso FELIZES PARA SEMPRE estará apenas começando, neste dia se concretizará a nossa história escrita por Deus.</p>
            </div>
            <!-- Notify Title End -->
        </div>

    </div>
</div>
<!-- Notify Me Popup End -->