<!-- About Section Start-->
<div class="section fp-auto-height-responsive content-section about" data-anchor="we-are-waiting-for-you-page">
    <div class="container-fluid p-0 fullheight">
        <div class="row m-0 flex-xl-row-reverse fullheight">

            <!-- Features Section Media Start -->
            <div class="col-12 col-xl-6 p-0 content-section_media" style="background-image:url(/assets/img/photos/we-are-waiting-for-you.jpg);">

                <!-- Color Layer Start -->
                <div class="layer-black-04" style="background-color: rgba(0,0,0,.6);"></div>
                <!-- Color Layer End -->

                <!-- Blockquote Start -->
                <div class="blockquote-content">
                    <blockquote cite="">
                        <i class="ion-quote"></i>
                        <p class="light-text">Pegue as suas coisas</br>
                        Pode se mudar pra minha vida</br>
                        Bairro da paixão, casa do amor</br>
                        Rua sem saída</br></p>

                        <cite class="light-text-06">
                            <span>Ferrugem</span>
                            <span>Casa da Paixão</span>
                        </cite>
                    </blockquote>
                </div>
                <!-- Blockquote End -->

            </div>
            <!-- Features Section Media End -->

            <!-- About Section Info Start -->
            <div class="col-12 col-xl-6 p-0 content-section_info">
                <div class="content-block">

                    <!-- Section Title Start -->
                    <div class="section-title">
                        <span class="subtitle">Você</span>
                        <span class="title">Esperamos por você</span>
                        <h2>Confirme a<br>sua presença</h2>
                        <span class="divider"></span>

                        <!-- Contact Form Container Start -->
                        <div class="form-content contact">

                            <!-- Reply Group Start -->
                            <div class="reply-group">
                                <i class="icon ion-ios-checkmark txt-light"></i>
                                <p class="reply-group__title txt-light"><span>Feito</span>!</p>
                                <span class="reply-group__text txt-light-transparent">Obrigado por confirmar a sua presença.</span>
                            </div>
                            <!-- Reply Group End -->

                            <!-- Contact Form Start -->
                            <form class="form form-dark contact-form" id="we-are-waiting-for-you-form-id" method="post">

                                <input class="" type="text" name="name" placeholder="Digite aqui o seu nome*" required>
                                <input class="" type="number" name="companionsNumber" placeholder="Número de acompanhantes*" required>
                                <span class="inputs-description">*Campo obrigatório</span>

                                <button class="btn btn-line" type="submit">
                                    <span>Clique aqui para enviar a sua confirmação</span>
                                </button>
                            </form>
                            <!-- Contact Form End -->

                        </div>
                        <!-- Contact Form Container End -->

                    </div>
                    <!-- Section Title End -->

                </div>
            </div>
            <!-- About Section Info End -->



        </div>
    </div>
</div>
<!-- About Section End-->