.form-radio
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;
	margin-right: 7px;
	outline: none;
}
.form-radio:checked::before
{
	position: absolute;
	font: 13px/1 'Open Sans', sans-serif;
	left: 11px;
	top: 7px;
	content: '\02143';
	transform: rotate(40deg);
}
.form-radio:hover
{
	background-color: #f7f7f7;
}
.form-radio:checked
{
	background-color: #f1f1f1;
}


.form-content form .gift-group input{
  vertical-align: text-top;
  cursor: pointer;
  margin: 0;
}

.form-content form .gift-group span{
	color : #000;	
}

.form-content form fieldset.gift {
	line-height: 18px;
}

.form-content form .gift-group pre{
	color : #616161;
	font-size: 11px;
	font-weight: 700;
	margin-top:-15px;
	padding-left: 35px;
    vertical-align: super;
}


.form-content form .gift-group input[type="radio"]:checked+span {
	text-decoration: underline;
}

.form-content form button.gift{
	padding: 18px 41px;
    text-align: center;
	background-color:#191919;
	color: #fff;
	margin-top: 10px;
}

.form-content form button.gift:hover{
	padding: 18px 41px;
    text-align: center;
	background-color:#191919;
	color: #fff;
	text-decoration:initial;
}

.features .feature-item div.qr-code {
	height: 200px;
}

.form-content.gift p { 
	margin-bottom: 7px;
}