/*Fb Comments Width Fix*/
.fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
    max-width: 100% !important;
    width: 100% !important;
}

.fb_container .fb-comments button {
    background-color: #191919 !important;
}

.mural-comments {
    background-image:url(/assets/img/photos/comments.jpg);
}


@media only screen and (max-width:450px){
    .mural-comments {
        background-image: url(/assets/img/photos/comments_mobile.jpg);
    }
}